/*navigation*/
#preferrednav{
  opacity: .6;
  background-color: #fff;
  position: fixed;
  width:100%;
}


/*header*/

.header{
    background-image: url("https://images.unsplash.com/photo-1513611620334-cde2ab025045?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: 100% 100%;
    height: 100%;
    height: 550px;
    width: 100%;
    color: #fff;
}
.header h6 {
    color: ;
}
.headers{
    text-align: center;
    padding: 120px;
    color: #;
}
/*About*/
.About {
    text-align: justify;

}

}
.jumbotron {
    font-family: "Times New Roman", Times, serif;
}
.strong {
    font-family: "Times New Roman", Times, serif;
}
#AboutUs .p{
    padding: 20px 0:
}

#AboutUs .head img{
    width: 100%;
    height: 100%;
    width: 400px;
    height: 400px;
}
/*Pricing*/
.standard{
    border: 1px solid black;
    text-align: center;
    height: 270px;
}
.Standard {
    background: #004070;
    color: white;
    height: 70px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.Standard p{
   padding: 20px 0;
}
.price{
    background: grey;
    color: black;
    font-size: 14px;
    height: 50px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    
}
.price p {
    padding: 15px 0;
}
.description{
    height: 100px;
    margin: 30px;
    color: grey;
}
.description p {
    line-height: 5px;
    font-size: 12px;
}

.premium{
    border: 1px solid black;
    text-align: center;
    height: 270px;
}
.Premium {
    background: #605070;
    color: white;
    height: 70px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.Premium p{
   padding: 20px 0;
}

.pricing h3{
    text-align: center;
}

/* team*/
.img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.team h3{
    text-align: center;
}